<%= form_with model: [ parent, children ], local: true do |form| %>


  <div class="container">
    <div class="col-sm-12">
      <div class="card card-default">
        <div class="card-body">
        <%#= form.label :name %>
          <%= form.text_field :title , class: 'input-block-level', placeholder: "#{pl_text} title" %>
        </div>


          <%= form.text_area :text %>


              <div class="container-fluid">
                 <div class="actions">
                      <%= form.submit  class: 'btn btn-outline-secondary' %>
                </div>
              </div>
          </div>
        </div>
      </div>


<% end %>
